{% extends 'base.html.twig' %}

{% block title %}Категории{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Название</th>
        </tr>

        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td><a href="{{ path('category_show', {id: category.id}) }}">{{ category.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
